<mat-toolbar color="black" class="title-component">
    <span class="title">Carrito de compras</span>
</mat-toolbar>

<h2 *ngIf="cartData.id == 0 " class="existsShoppingCart">No hay productos agregados en el carrito.</h2>
<div *ngIf="cartData.id != 0"><mat-card class="cart-card" *ngIf="loadCard">
        <mat-card-title>Carrito de Compras</mat-card-title>
        <mat-card-content class="product-list">
            <div class="product-item" *ngFor="let product of cartData.products">
                <div class="product-info">
                    <div class="product-details">
                        <h3>{{ product.name }}</h3>
                        <p>Costo: ${{ product.price }}</p> <!-- Muestra el costo -->
                    </div>
                </div>
                <div class="product-actions">
                    <button mat-icon-button (click)="removeProductToCart(product)">
                        <mat-icon>delete</mat-icon>
                    </button>
                </div>
            </div>
        </mat-card-content>
        <mat-card-actions>
            <div class="cart-summary">
                <p>Subtotal: ${{ subTotalPrice }}</p>
                <p>Descuento: ${{ promotionDiscount.discount }}</p>
                <p class="cart-total">Total: {{totalPrice}}</p>
                <p>Promoción aplicada: {{promoApply}}</p>
            </div>
            <button mat-raised-button class="btn-finish-buy" color="primary" (click)="makeSale()">Realizar
                Compra</button>
        </mat-card-actions>
    </mat-card>
</div>