.menu-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  padding-top: 75px;
}

.menu-item {
  text-align: center;
}

.menu-button {
  width: 100px;
  height: 100px;
  font-size: 36px;
  margin-left: 4px;
}

.menu-title {
  font-weight: bold;
  margin-top: 10px;
}

.menu-name {
  color: #777;
}

.icon-large {
  transform: scale(6);
  color: #333333;
}

.title {
  color: #333333;
  font-size: 30px;
  margin-top: 21px;

}

.title-component {
  display: flex;
  justify-content: center;
  position: absolute;
}
